body
{
background-color: #f1f1f1;
padding: 0;
margin: 0;
overflow-x: hidden;
text-align: center;
}
header
{
background-color: #fff;
padding: 15px;
boxbox-shadow: 0 0 3px #000;
}
header li
{
display: inline;
padding-left: 45px;
}
header li a
{font-family:"Times New Roman",Times,serif;
color: #333;
text-decoration: none;
padding: 13px;
transition: .3s ease;
}
header li a:hover
{
color:royalblue;
}
header ul #contact a
{
color: #fff;
background-color: royalblue;
border-radius: 30px;
float: right;
position: relative;
top: -15px;
transition: .3s ease;
}
header ul #contact a:hover
{
background-color: goldenrod;
}
header li img
{
height: 65px;
width: 180px;
float: left;
margin-top: -20px;
}
.active
{
color: royalblue;
}
li
{
display: inline-block;
margin: 25px;
}
pre
{color:black;
 font-size:20px;
}
button
{
 display:center;
}
.card
{
width:90%;
max-width:355px;
color: #fff;
text-align: center;
padding: 50px 35px;
border: 1px solid rgba(255,255,255,0.3);
background:rgba(255,255,255,0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0,0,0,0.1); 
}